<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>▒▒▒ ㅅㅅ ▒▒▒</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="top-center">
            <div class="title">
                <div>
                    <img src="img/title.png" alt="Ad Banner">
                </div>
            </div>
            <div class="ad-banner">
                <img src="ad_banner_1.png" alt="Ad Banner">
            </div>
            <div class="login">
                <form>
                    <div>
                        <input type="text" id="username" name="username" placeholder="Username" style="width: 60%;">
                        <button type="submit" style="width: 40%;">Log in</button>
                    </div>
                    <div>
                        <input type="password" id="password" name="password" placeholder="Password" style="width: 60%;">
                        <button type="button" style="width: 40%;">Sign Up</button>
                    </div>
                </form>
                <div>
                    <input type="search">
                    <button type="button" style="width: 40%;">⌕</button>
                </div>
            </div>
            <div class="social-login">
                <form>
                    <div>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <nav>
        <a href="#">현재와</a>
        <a href="#">철이의</a>
        <a href="#">즐거운</a>
        <a href="#">인생</a>
    </nav>
    
    <main>
        <div id="main-content1">
            <div class="image-text">
                <div>
                    <img src="img/bapbird.png" alt="Image">
                </div>
                <div>
                    <h3>전투뱁새 출시</h3>
                    <p>귀여운 아기 전투뱁새가 태어났습니다.<br>아주 사납고 위험합니다.</p>
                </div>
            </div>

            <div>
                <div class="video-ad">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/your_video_id" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>

                <div class="event-calendar">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="7">Event</th>
                            </tr>
                            <tr>
                                <th>월</th>
                                <th>화</th>
                                <th>수</th>
                                <th>목</th>
                                <th>금</th>
                                <th>토</th>
                                <th>일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                            </tr>
                            <tr>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>31</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="ad-banner">
                    <img src="ad_banner_2.png" alt="Ad Banner 2">
                </div>
            </div>
        </div>

        <div id="main-content2">
            <div class="tables-container">
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3">월베</th>
                            </tr>
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Data 1</td>
                                <td>Data 2</td>
                                <td>Data 3</td>
                            </tr>
                            <tr>
                                <td>Data 1</td>
                                <td>Data 2</td>
                                <td>Data 3</td>
                            </tr>
                            <tr>
                                <td>Data 1</td>
                                <td>Data 2</td>
                                <td>Data 3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="3">주베</th>
                            </tr>
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Data 1</td>
                                <td>Data 2</td>
                                <td>Data 3</td>
                            </tr>
                            <tr>
                                <td>Data 1</td>
                                <td>Data 2</td>
                                <td>Data 3</td>
                            </tr>
                            <tr>
                                <td>Data 1</td>
                                <td>Data 2</td>
                                <td>Data 3</td>
                            </tr>
                        </tbody>
                    </table>
                </div><div class="table">
                    <table id="daily-best">
                        <thead>
                            <tr>
                                <th colspan="3">일베</th>
                            </tr>
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Data 1</td>
                                <td>Data 2</td>
                                <td>Data 3</td>
                            </tr>
                            <tr>
                                <td>Data 1</td>
                                <td>Data 2</td>
                                <td>Data 3</td>
                            </tr>
                            <tr>
                                <td>Data 1</td>
                                <td>Data 2</td>
                                <td>Data 3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="ad-banner">
            <img src="ad_banner_3.png" alt="Ad Banner">
        </div>
        <p>Contact us at: m3m123@seosin.com</p>
    </footer>
</body>
</html>
